config ZRAM
	tristate "Compressed RAM block device support"
	depends on BLOCK && SYSFS && CRYPTO
	depends on CRYPTO_842 || CRYPTO_LZ4 || CRYPTO_LZ4HC || CRYPTO_LZO || CRYPTO_ZSTD
	depends on ZPOOL && (Z3FOLD || ZSMALLOC)
	default n
	help
	  Creates virtual block devices called /dev/zramX (X = 0, 1, ...).
	  Pages written to these disks are compressed and stored in memory
	  itself. These disks allow very fast I/O and compression provides
	  good amounts of memory savings.

	  It has several use cases, for example: /tmp storage, use as swap
	  disks and maybe many more.

	  See Documentation/blockdev/zram.txt for more information.

config ZRAM_WRITEBACK
       bool "Write back incompressible page to backing device"
       depends on ZRAM
       default n
       help
	 With incompressible page, there is no memory saving to keep it
	 in memory. Instead, write it out to backing device.
	 For this feature, admin should set up backing device via
	 /sys/block/zramX/backing_dev.

	 See Documentation/blockdev/zram.txt for more information.

config ZRAM_MEMORY_TRACKING
	bool "Track zRam block status"
	depends on ZRAM && DEBUG_FS
	help
	  With this feature, admin can track the state of allocated blocks
	  of zRAM. Admin could see the information via
	  /sys/kernel/debug/zram/zramX/block_state.

	  See Documentation/blockdev/zram.txt for more information.

if ZRAM

choice
	prompt "Default zRAM backend"
	default DEFAULT_ZRAM_ZSMALLOC
	help
	  Select the memory allocator that will be used by default to
	  store compressed pages for all zRAM devices.

	config DEFAULT_ZRAM_Z3FOLD
		bool "z3fold" if Z3FOLD=y

	config DEFAULT_ZRAM_ZSMALLOC
		bool "zsmalloc" if ZSMALLOC=y
endchoice

config ZRAM_DEFAULT_BACKEND
	string
	default "z3fold" if DEFAULT_ZRAM_Z3FOLD
	default "zsmalloc" if DEFAULT_ZRAM_ZSMALLOC
	default "zsmalloc"

choice
	prompt "Default zRAM compressor"
	default DEFAULT_ZRAM_LZO
	help
	  Select the compressor that will be used by default to compress
	  pages for all zRAM devices.

	config DEFAULT_ZRAM_842
		bool "842" if CRYPTO_842=y

	config DEFAULT_ZRAM_LZ4
		bool "lz4" if CRYPTO_LZ4=y

	config DEFAULT_ZRAM_LZ4HC
		bool "lz4hc" if CRYPTO_LZ4HC=y

	config DEFAULT_ZRAM_LZO
		bool "lzo" if CRYPTO_LZO=y

	config DEFAULT_ZRAM_ZSTD
		bool "zstd" if CRYPTO_ZSTD=y
endchoice

config ZRAM_DEFAULT_COMPRESSOR
	string
	default "842" if DEFAULT_ZRAM_842
	default "lz4" if DEFAULT_ZRAM_LZ4
	default "lz4hc" if DEFAULT_ZRAM_LZ4HC
	default "lzo" if DEFAULT_ZRAM_LZO
	default "zstd" if DEFAULT_ZRAM_ZSTD
	default "lzo"

endif
